<%= image_tag("TRELORA-Logo-.png", class: "center zoom")%>

<div class="header-text">
  <h3><b>Home Consultant</b></h3>
</div>

<div class="log-in-form">
  <%= form_tag("/", method: "post") do %>
    <div class="label">
      <%= label_tag(:member_email, "Member Email") %>
    </div>
    <div class="input-field">
      <%= email_field(:user, :address) %>
    </div>
    <div class="label">
      <%= label_tag(:password) %>
    </div>
    <div class="input-field">
      <%= password_field_tag(:password) %>
    </div>

    <div class="submit-button">
      <%= submit_tag("Log in", class: "log-in-submit") %>
    </div>

  <p class="message"></p>
  <% end %>
</div>

<div>
  <%= link_to "Log Out", sessions_path, method: 'post', class: "log-out" %>
</div>
