<header class="header">
</header>

<div class="header-text">
  <h2>Home Consultant</h2>
</div>

<div class="log-in-form">
  <%= form_tag("/", method: "post") do %>
    <div class="label">
      <%= label_tag(:member_email, "Member Email") %>
    </div>
    <div class="input-field">
      <%= email_field(:user, :address) %>
    </div>
    <div class="label">
      <%= label_tag(:password) %>
    </div>
    <div class="input-field">
      <%= password_field_tag(:password, class: "input-field") %>
    </div>

    <div class="submit-button">
      <%= submit_tag("Log in", class: "log-in-submit") %>
    </div>

  <p class="message"></p>
  <% end %>
</div>
