<div class="find-section">
  <div class="container-fluid">
    <div class="address_preparation container-fluid">
      <div class="header-text">
        <h3><b>Client Details</b></h3>
      </div>
      <div class="field_headers">
        <div class="row">
          <div class="col-4">
            <p><b>Name: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Email: </b></p>
          </div>
          <div class="col-8">
            <p><%= mail_to @property_facade.email  %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Phone: </b></p>
          </div>
          <div class="col-8">
            <p><%= link_to @property_facade.phone, "tel:#{@property_facade.phone}"  %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Opted In: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.opted_in %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Found Us: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.found_us %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Map: </b></p>
          </div>
          <div class="col-8">
            <p><a href="<%= @property_facade.map %>">Click for Directions to Property</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="estimate-types container-fluid">
      <div class="header-text">
        <h3><b>Estimates</b></h3>
      </div>
      <div class="estimate-block">
        <h4 class="estimate_header"><b>Zillow</b></h4>
        <div class="row">
          <div class="col-4">
            <p><b>Zestimate: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.zestimate %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Low: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.z_low %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>High: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.z_high %></p>
          </div>
        </div>
        <h4 class="estimate_header"><b>Home Junction</b></h4>
        <div class="row">
          <div class="col-4">
            <p><b>Low: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.hj_low %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>High: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.hj_high %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Regional Avg: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.hj_avg %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="client-partnership-indicators container-fluid">
      <div class="header-text">
        <h3><b>Client Partnership Indicators</b></h3>
      </div>
      <div class="indicator-details">
        <div class="row">
          <div class="col-4">
            <p><b>Enthusiasm: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.enthusiasm %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Timing: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.timing %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Adopter Type: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.adopter_type %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Stage: </b></p>
          </div>
          <div class="col-8">
            <p><%= @property_facade.stage %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p><b>Retainer: </b></p>
          </div>
          <div class="col-8">
            <p>$<%= @property_facade.retainer %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="client-updates container-fluid">
      <div class="header-text">
        <h3><b>Client Updates</b></h3>
      </div>
      <div class="update-list">
        <% @property_facade.updates.each do |update| %>
          <p class="update"><%= update %></p>
        <% end %>
      </div>
    </div>
    <!-- Button trigger modal -->
    <div class="button-spacing">
      <button type="button" id="start_timer" class="start-button" data-toggle="modal" data-target="#exampleModalLong" onclick="startTimer()">
        Start Consultation
      </button>
    </div>
  </div>
</div>

<div class="logout">
  <%= link_to "Log Out", sessions_path, method: 'post', class: "log-out-button" %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Consultation Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-form">
        <div class="collect-data">
          <%= form_tag("/main_page", method: "post") do %>
            <%= label_tag(:about_the_home, "About the Home") %>
            <%= text_area_tag(:about_this_home) %>
            <%= label_tag(:recommended_price, "Recommended List Price") %>
            <%= text_field_tag(:price) %>
            <%= label_tag(:update_enthusiasm, "Update Client Enthusiasm", class: "display-block") %>
            <%= select_tag(:client_enthusiasm, options_for_select([['Mild', 1], ['Medium', 2], ['Spicy', 3]]))%>
            <%= label_tag(:buyer_agent_comm, "Buyer Agent Commission", class: "display-block") %>
            <%= text_field_tag(:commission) %>
            <%= label_tag(:about_seller, "About the Seller", class: "display-block") %>
            <%= text_area_tag(:about_the_seller) %>
            <%= label_tag(:credit_number, "Credit Card Number", class: "display-block") %>
            <%= password_field_tag(:credit_card) %>
            <%= label_tag(:credit_expiration, "Credit Card Expiration Date") %>
            <%= hidden_field_tag(:attributes, "#{@property_facade.attributes}") %>
            <%= month_field(:exp_date, :exp_date_2) %>
            <%= hidden_field_tag :start_time %>
            <%= hidden_field_tag :end_time %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="log-in-submit" data-dismiss="modal">Close</button>
        <%= submit_tag('Save',id: "stop_timer", onclick: "stopTimer()", class: 'btn save-button', style: "color: #96C93D; background-color: #000000; width: 90px; height: 40px; border-radius: 20px;") %>
         <% end %>
      </div>
    </div>
  </div>
</div>

<div class="collect_form">
<script type="text/javascript">
function startTimer() {
 var startTime = Date.now()
      $("#start_time").val(startTime);
}
function stopTimer() {
  var endTime = Date.now()
  $("#end_time").val(endTime)
}
</script>
