<!DOCTYPE html>
<html>
  <head>
    <title>HomeConsultant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% flash.each do |type, message| %>
    <%= content_tag :div, sanitize(message), class: type %>
    <% end %>

    <script src="/assets/javascripts/scripts.js"></script>
  </body>
</html>
