<!DOCTYPE html>
<html>
  <head>
    <title>HomeConsultant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins|Questrial" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <% flash.each do |type, message| %>
    <%= content_tag :div, sanitize(message), class: type %>
    <% end %>

    <script src="/assets/javascripts/scripts.js"></script>
  </body>
</html>
